<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card p-3 text-center">
        <img [src]="profilePic || defaultPic" class="rounded-circle mb-3" alt="Profile Picture" width="120"
             height="120">
        <input type="file" (change)="onFileSelected($event)" class="form-control form-control-sm mt-2">
        <h4>{{ user?.username }}</h4>
        <p class="text-muted">{{ user?.email }}</p>
      </div>
    </div>

    <div class="col-md-8">
      <div class="card p-3">
        <h5 class="mb-3">Workout History</h5>
        <app-workout-list [workouts]="workouts"></app-workout-list>
      </div>
    </div>
  </div>
</div>
